# Default ignored files
/../../proyectoSupermercado./.idea/shelf/
/../../proyectoSupermercado./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../proyectoSupermercado./.idea/httpRequests/
# Datasource local storage ignored files
/../../proyectoSupermercado./.idea/dataSources/
/../../proyectoSupermercado./.idea/dataSources.local.xml
